.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
}

.conteudo img{
    max-width: 100%;
    display: block;
}

.conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}